USE [hoc_vien_momo]
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 12/15/2021 12:18:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongCauHoi] [int] NOT NULL,
	[DiemTranDau] [int] NULL,
	[ThoiGian] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 12/15/2021 12:18:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CauHoi] [varchar](255) NULL,
	[CauDung] [varchar](255) NULL,
	[CauSai1] [varchar](255) NULL,
	[CauSai2] [varchar](255) NULL,
	[CauSai3] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/15/2021 12:18:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Username] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[TenNguoiDung] [nvarchar](255) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[TongTran] [int] NOT NULL,
	[TongTranThang] [int] NOT NULL,
	[ChuoiThangMax] [int] NOT NULL,
	[ChuoiThuaMax] [int] NOT NULL,
	[ChuoiThang] [int] NOT NULL,
	[ChuoiThua] [int] NOT NULL,
	[TrangThaiChuoi] [bit] NOT NULL,
	[TongDiem] [int] NOT NULL,
	[DiemIQ] [int] NOT NULL,
	[Block] [bit] NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CauHinh] ON 

INSERT [dbo].[CauHinh] ([Id], [SoLuongCauHoi], [DiemTranDau], [ThoiGian]) VALUES (1, 5, 10, 10)
SET IDENTITY_INSERT [dbo].[CauHinh] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHoi] ON 

INSERT [dbo].[CauHoi] ([Id], [CauHoi], [CauDung], [CauSai1], [CauSai2], [CauSai3]) VALUES (1, N'Luoi thuong nhay cam voi vi nao nhat?', N'Dang', N'Chua', N'Cay', N'Ngot')
INSERT [dbo].[CauHoi] ([Id], [CauHoi], [CauDung], [CauSai1], [CauSai2], [CauSai3]) VALUES (2, N'Qua dia cau co may dai duong?', N'4', N'2', N'5', N'3')
INSERT [dbo].[CauHoi] ([Id], [CauHoi], [CauDung], [CauSai1], [CauSai2], [CauSai3]) VALUES (3, N'Loai ca voi thuong song o moi truong nao?', N'Dai duong', N'Song, ho', N'Sa mac', N'Rung ram')
SET IDENTITY_INSERT [dbo].[CauHoi] OFF
GO
INSERT [dbo].[NguoiDung] ([Username], [Password], [TenNguoiDung], [GioiTinh], [NgaySinh], [TongTran], [TongTranThang], [ChuoiThangMax], [ChuoiThuaMax], [ChuoiThang], [ChuoiThua], [TrangThaiChuoi], [TongDiem], [DiemIQ], [Block]) VALUES (N'beahan@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'Bea', 1, CAST(N'2000-05-05T00:00:00.000' AS DateTime), 20, 15, 9, 4, 3, 0, 0, 800, 0, 0)
INSERT [dbo].[NguoiDung] ([Username], [Password], [TenNguoiDung], [GioiTinh], [NgaySinh], [TongTran], [TongTranThang], [ChuoiThangMax], [ChuoiThuaMax], [ChuoiThang], [ChuoiThua], [TrangThaiChuoi], [TongDiem], [DiemIQ], [Block]) VALUES (N'koepp3@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'Koe', 0, CAST(N'1998-01-02T00:00:00.000' AS DateTime), 14, 10, 8, 3, 2, 1, 0, 600, 0, 0)
INSERT [dbo].[NguoiDung] ([Username], [Password], [TenNguoiDung], [GioiTinh], [NgaySinh], [TongTran], [TongTranThang], [ChuoiThangMax], [ChuoiThuaMax], [ChuoiThang], [ChuoiThua], [TrangThaiChuoi], [TongDiem], [DiemIQ], [Block]) VALUES (N'lilly35@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'Lily', 0, CAST(N'2000-05-11T00:00:00.000' AS DateTime), 20, 14, 10, 3, 3, 0, 0, 800, 0, 0)
GO
